Import

In [1]:
import pandas as pd

Read CSV

In [2]:
df_bordeaux = pd.read_csv("CSV/bordeaux/listings_bordeaux.csv")

In [3]:
df_bordeaux.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

### Question n°1

In [4]:
df_bordeaux.groupby("neighbourhood_cleansed").apply(lambda s: pd.Series({ 
    "host count": s["host_id"].nunique(), 
    "sum reviews": s["number_of_reviews"].sum(), 
}))

                        host count  sum reviews
neighbourhood_cleansed
3M-Bourgailh                     8           98
Ambars-et-Lagrave               65          904
Ambs                            49         1714
Arago-La Chataigneraie          43         1583
Arlac                           90         2973
...                            ...          ...
Sardine                         17          788
Talence                        429        13571
Toctoucau                       16          479
Verthamon                       24          799
Villenave-d'Ornon              287         9264

[62 rows x 2 columns]

### Question n°2

In [5]:
df_host_acceptance_rate=df_bordeaux["host_acceptance_rate"].str.rstrip('%').astype(float)

df_host_acceptance_rate.mean()

82.1015107341638

In [6]:
df_host_response_rate=df_bordeaux["host_response_rate"].str.rstrip('%').astype(float)

df_host_response_rate.mean()

93.4806598407281

### Question n°3

In [7]:
df_bordeaux[['id',"host_verifications"]].groupby("host_verifications").count()

                                    id
host_verifications
['email', 'phone', 'work_email']   677
['email', 'phone']                9287
['email', 'work_email']              1
['email']                           45
['phone', 'work_email']             24
['phone']                          820
[]                                  31

In [8]:
df_bordeaux[['id',"host_verifications"]].groupby("host_verifications").count()/len(df_bordeaux)*100

                                         id
host_verifications
['email', 'phone', 'work_email']   6.219568
['email', 'phone']                85.319247
['email', 'work_email']            0.009187
['email']                          0.413413
['phone', 'work_email']            0.220487
['phone']                          7.533303
[]                                 0.284796